body{
    overflow-x: hidden;
}
.sign{
position: absolute;
width: 11vw; 
height: 4vw; 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.1vw; 
line-height: 1.1vw; 
border: 0.5vw solid transperent; 
color: #000000;
display: flex;
align-items: center;
justify-content: center;
left: 3vw; 
top: 1.5vw;
text-overflow: ellipsis;
text-decoration: none;

color: #000000;
}
.sign:hover {
    text-decoration: none;
}

.shop{
    position: absolute;
    width: 6vw; 
    height: 4vw; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transperent; 
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15vw; 
    top: 1.5vw;
    text-overflow: ellipsis;
    text-decoration: none;

color: #000000;
}
.shop:hover {
    text-decoration: none;
}
.about{
    position: absolute;
    width: 6vw; 
    height: 4vw; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transperent; 
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 23vw; 
    top: 1.5vw;
    text-overflow: ellipsis;
    text-decoration: none;
    }
.about:hover {
        text-decoration: none;
    }

.veikals{
    position: fixed;
    z-index:2;
    width: 0vwpx ;
    height: 5vw ;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 0px;
    text-align: center;
    color: #000000;
    border: 1vw solid transperent;
    left: 50%;
    top: 53px;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.veikals:hover {
    text-decoration: none;
}

.white-text {
    color: white;
}


* {box-sizing: border-box;}
.search-container {
    display: flex;
    align-items: center;
    margin-left: 1050px;
    margin-top: 15px;
}

.my-input {
    padding: 6px;
    margin-top: 25px;
    font-size: 17px;
    border: 1px solid #070707;
    border-radius: 15px;
    flex-grow: 1;
    width: 330px;
    height:25px;
    max-width: 100%;
}

.search-container button {
    padding: 10px;
    top: -5px;
    margin-right: 12px;
    font-size: 17px;
    background: transparent url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png) no-repeat center;
    border: none;
    cursor: pointer;
    background-size: contain;
    position: relative;
    max-width: 100%;
}
@media screen and (max-width: 600px) {
    .search-container {
       float: none;
     }
.my-input,.search-container button {
       float: none;
       display: block;
       text-align: left;
       width: 100%;
       margin: 0;
       padding: 14px;
}

.my-input {
    border: 1px solid rgb(15, 13, 13);  
  }

}
.lielabilde img{
    position: relative;
    z-index:1;
    top:50px;
    left: 3vw;
    width: 1400px;
    height: 595px;
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.cart {
    position: relative;
    flex: 1;
    min-width: 100px;
    max-width: 100px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border-width: 0.5vw+5px; 
    color: #000000;
    left: 6vw; 
    top: 10vw;
    text-overflow: ellipsis;
    text-decoration: none;
    box-sizing: border-box;

}
.cart a {
    width:auto;
}

.cart:hover {
        text-decoration: none;
    }

.container2 {
        display: flex;
        flex-wrap: wrap;
}
.collections{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 8vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.collections:hover {
    text-decoration: none;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
}
.aboutshop{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 6vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.aboutshop:hover {
    text-decoration: none;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
}
.profile{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 6vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.profile:hover {
    text-decoration: none;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
}
.help{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 4vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.help:hover {
    text-decoration: none;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
}
.contacts{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 2vw;
    text-overflow: ellipsis;
    text-decoration: none;
}

.contacts:hover {
    text-decoration: none;
}

.hodijs1 {
    position: relative;
    top: 30px;
    left: 20px;
    width: 320px;
    height: 280px;
}

.hodijs1:hover {
    transform: scale(1.1);
 }
 
.hodijs2{
    position:relative;
    top:30px;
    left: 80px;
    width:320px;
    height: 280px;
}
.hodijs2:hover {
    transform: scale(1.1);
 }
.hodijs3{
    position:relative;
    top:90px;
    left: 20px;
    width:320px;
    height: 280px;
}
.hodijs3:hover {
    transform: scale(1.1);
 }
.hodijs4{
    position:relative;
    top:90px;
    left: 80px;
    width:320px;
    height: 280px;
}
.hodijs4:hover {
    transform: scale(1.1);
 }
.hodijs5{
    position:relative;
    top:150px;
    left:20px;
    width:320px;
    height: 280px;
}
.hodijs5:hover {
    transform: scale(1.1);
 }
.hodijs6{
    position:relative;
    top:150px;
    left:80px;
    width:320px;
    height: 280px;
}
.hodijs6:hover {
    transform: scale(1.1);
 }
.hodijs7{
    position:relative;
    top:210px;
    left:20px;
    width:320px;
    height: 280px;
}
.hodijs7:hover {
    transform: scale(1.1);
 }
.hodijs8{
    position:relative;
    top:210px;
    left: 80px;
    width:320px;
    height: 280px;
}
.hodijs8:hover {
    transform: scale(1.1);
 }
.hodijs9{
    position:relative;
    top:270px;
    left: 20px;
    width:320px;
    height: 280px;
}
.hodijs9:hover {
    transform: scale(1.1);
 }
 
 .scrollable-images {
    position: absolute;
    overflow:auto;
    height: 1000px;
    width:800px;
    left:550px;
    top: 830px;
    border: 2px solid grey; 
    border-left:none;
    border-radius: 7px;

    
}
.scrollable-images::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
  }
  
  .scrollable-images::-webkit-scrollbar-thumb {
    background-color: #0d0c0c;
    border-radius: 10px;
  }

.scrollable-images::-webkit-scrollbar {
  width: 20px;
}

.scrollable-images::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }


  img.parsevi {
    position:absolute;
    height: 300px;
    width:250px;
    margin-left: 50px;
    top:1977px;
}

.apraksts {
    position:absolute;
    height: 300px;
    width: 1141px;
    border: 2px solid rgb(228, 219, 219);
    padding: 0px;
    top:1977px;
    margin-left: 325px;
    font-family: 'Inter';
    font-style: normal;
    font-size:17px;
    font-weight: 500;
    line-height:0;

}

img.apaksejabilde{
    position:absolute;
    width:1404px;
    height:100px;
    top:2350px;
    margin-left: 47px;
    z-index: 1;
    filter:brightness(70%);
}

.madeby{
    position:absolute;
    top:2370px;
    left:635px;
    z-index: 3;
    font-weight: 400;
    color: rgb(247, 240, 240);
    font-size: 20px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }



  .container10 {
    display: flex;
    flex-wrap: wrap;
}
.cart2 {
    position: relative;
    flex: 1;
    min-width: 100px;
    max-width: 100px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border-width: 0.5vw+5px; 
    color: #000000;
    left: 6vw; 
    top: 10vw;
    text-overflow: ellipsis;
    text-decoration: none;
    box-sizing: border-box;

}
.cart2 a {
    width:auto;
}

.cart2:hover {
        text-decoration: none;
    }

.container11 {
        display: flex;
        flex-wrap: wrap;
}
.collections2{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 8vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.collections2:hover {
    text-decoration: none;
}

.container12 {
    display: flex;
    flex-wrap: wrap;
}
.aboutshop2{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 6vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.aboutshop2:hover {
    text-decoration: none;
}

.container13 {
    display: flex;
    flex-wrap: wrap;
}
.profile2{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 6vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.profile2:hover {
    text-decoration: none;
}

.container14 {
    display: flex;
    flex-wrap: wrap;
}
.help2{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 4vw;
    text-overflow: ellipsis;
    text-decoration: none;
}
.help2:hover {
    text-decoration: none;
}

.container15 {
    display: flex;
    flex-wrap: wrap;
}
.contacts2{
    position: relative;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw; 
    line-height: 1.1vw; 
    border: 0.5vw solid transparent; 
    color: #000000;
    left: 6vw; 
    top: 2vw;
    text-overflow: ellipsis;
    text-decoration: none;
}

.contacts2:hover {
    text-decoration: none;
}